body {
  font-family: 'Amatic SC';
  letter-spacing: 0.15em;
}

.col-md-4 {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  font-size: 105px;
  padding: 45px;
  text-align: center;
  border-bottom: 1px dashed black;
}

.img-responsive {
  width: 300px;
  height: 250px;
  margin: 0 auto;
}

.btn {
  font-size: 24px;
  letter-spacing: 0.1em;
  width: 25%;
  margin: 7px 0;
}

.footer-image {
  width: 100%;
  height: auto;
}
